<template>
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">AquaSync</span>
    </nav>
    <div>
      <div>
        <div>
          <div class="form-row">
            <div class="form-group col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 mb-0">
              <v-col cols="12" class="mx-0 pa-0 mt-1">
                <div class="filezone">
                  <input
                    type="file" id="image" ref="image"
                    multiple v-on:change="handleImage()"
                    class="form-control" name="image"
                  />
                  <div v-html="message"></div>
                </div>
                <div class="row m-auto" :style="status">
                  <v-col cols="4" class="flex-column">
                    <v-btn x-large color="#cba288" dark @click="handleFile">
                      <span>Без шума</span>
                    </v-btn>
                  </v-col>
                  <v-col cols="4" class="flex-column">
                    <v-btn x-large color="#a43ff5" dark @click="handleFileNoise">
                      <span>С зашумленным сигналом</span>
                    </v-btn>
                  </v-col>
                  <v-col cols="4" class="flex-column">
                    <v-btn x-large color="#aa3fa6" dark @click="handleFileWave">
                      <span>С зашумленным расстоянием <br>от аппарата до дна</span>
                    </v-btn>
                  </v-col>
                </div>
              </v-col>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <template v-if="tests.length > 0">
            <v-simple-table light>
              <template v-slot:default>
                <thead>
                <tr>
                  <th class="text-center text--darken-4" style="font-size: 1rem;">Изображение</th>
                  <th class="text-center text--darken-4" style="font-size: 1rem;">Результат</th>
                  <th class="text-center text--darken-4" style="font-size: 1rem;">Дополнительная информация</th>
                  <th class="text-center text--darken-4" style="font-size: 1rem;"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="test in tests" :key="test.id">
                  <td class="text-center">
                    <v-img
                      :src="test.image"
                      height="105px"
                      width="210px"
                    ></v-img>
                  </td>
                  <td class="text-center">
                    <a :href="test.output">Результат теста № {{ test.id }}</a>
                  </td>
                  <td class="text-center">
                    <ul>
                      <li class="list-group" v-for="(item, i) in test.data" :key="item.id">
                        <span>{{ i }} : <b>{{ item }}</b></span>
                      </li>
                    </ul>
                  </td>
                  <td class="text-center" @click="remove(test.id)">
                    <b style="font-size: 2rem;">x</b>
                  </td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'App',
    data() {
      return {
        status: "display: none;",
        message: "<p>Перетащите файл сюда <br>или нажмите для поиска</p>",
        tests: [],
        form: {
          image: ''
        }
      }
    },
    mounted() {
      axios.get('http://104.248.11.1:8080/api/v1/tests')
        .then(({data}) => {
          this.tests = data.data;
        });
    },
    methods: {
      remove: function (id) {
        axios.get('http://104.248.11.1:8080/api/v1/tests/' + id)
          .then(({data}) => {
            this.tests = data.data;
          });
      },
      handleImage: function () {
        if (this.$refs.image.files.length > 0) {
          this.message = "<p>Время для эксперементов, <br>выберите условие задачи</p>"
          this.status = "display: flex;";
        }
      },
      handleFile: function () {
        console.log(this.$refs.image.files);
        let formData = new FormData();
        formData.append('image', this.$refs.image.files[0]);
        let url = 'http://104.248.11.1:8080/api/v1/tests';
        let config = {
          headers: {
            'Content-Type': 'multipart/form-data',
          }
        };
        axios.post(url, formData, config)
          .then(({data}) => {
            this.tests = data.data;
            console.log('success');
          })
          .catch((error) => {
            console.log(error);
          });
      },
      handleFileWave: function () {
        console.log(this.$refs.image.files);
        let formData = new FormData();
        formData.append('image', this.$refs.image.files[0]);
        let url = 'http://104.248.11.1:8080/api/v1/tests?wave=1';
        let config = {
          headers: {
            'Content-Type': 'multipart/form-data',
          }
        };
        axios.post(url, formData, config)
          .then(({data}) => {
            this.tests = data.data;
            console.log('success');
          })
          .catch((error) => {
            console.log(error);
          });
      },
      handleFileNoise: function () {
        console.log(this.$refs.image.files);
        let formData = new FormData();
        formData.append('image', this.$refs.image.files[0]);
        let url = 'http://104.248.11.1:8080/api/v1/tests?noise=1';
        let config = {
          headers: {
            'Content-Type': 'multipart/form-data',
          }
        };
        axios.post(url, formData, config)
          .then(({data}) => {
            this.tests = data.data;
            console.log('success');
          })
          .catch((error) => {
            console.log(error);
          });
      },
    }
  }
</script>

<style>
  input[type="file"]{
    opacity: 0;
    width: 100%;
    height: 80px;
    position: absolute;
    cursor: pointer;
  }
  .filezone {
    outline: 2px dashed grey;
    outline-offset: -10px;
    background: #ccc;
    color: dimgray;
    padding: 10px 10px;
    min-height: 100px;
    position: relative;
    cursor: pointer;
  }
  .filezone:hover {
    background: #c0c0c0;
  }
  .filezone p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 50px 50px 50px;
  }
  .message-text {
    color: lightcoral;
    font-size: 1rem;
    font-weight: bold;
  }
  .header-text {
    font-size: 1.5rem;
    color: #b4aff1;
  }
</style>
