<template>
  <div>
    <div>
      <div>
        <p class="header-text">Панель обработки</p>
      </div>
      <div>
        <p class="message-text">{{ message }}</p>
      </div>
      <div>
        <div class="form-row">
          <div class="form-group col-md-8 col-12 col-sm-10 col-lg-6 col-xl-6 mb-0">
            <v-avatar
                    color="grey"
                    size="260"
                    tile
            >
              <v-img :src="form.image" alt="Изображение для обработки"></v-img>
            </v-avatar>
            <v-col cols="12" class="mx-0 pa-0 mt-1">
              <div class="filezone">
                <input
                  type="file" id="image" ref="image"
                  multiple v-on:change="handleFile()"
                  class="form-control" name="image"
                  :class="{ 'is-invalid': form.errors.has('image') }"
                />
                <p>
                  Перетащите файл сюда <br>или нажмите для поиска
                </p>
                <has-error :form="form" field="file"></has-error>
              </div>
            </v-col>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div v-for="test in tests" :key="test.id">
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'Home',
    data() {
      return {
        message: '',
        tests: [],
        form: {
          image: ''
        }
      }
    },
    mounted() {
      axios.get('http://localhost:8080/api/v1/tests')
        .then(({data}) => {
          this.tests = data.data;
        });
    },
    methods: {
      handleFile () {
        console.log(this.$refs.image.files);
        let formData = new FormData();
        formData.append('image', this.$refs.image.files[0]);
        let url = 'http://localhost:8080/api/v1/tests';
        let config = {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        };
        axios.post(url, formData, config)
          .then(({data}) => {
            this.tests = data.data;
            console.log('success');
          })
          .catch((error) => {
            console.log(error);
          });
      },
    }
  }
</script>

<style scoped>
  input[type="file"]{
    opacity: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    cursor: pointer;
  }
  .filezone {
    outline: 2px dashed grey;
    outline-offset: -10px;
    background: #ccc;
    color: dimgray;
    padding: 10px 10px;
    min-height: 100px;
    position: relative;
    cursor: pointer;
  }
  .filezone:hover {
    background: #c0c0c0;
  }
  .filezone p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 50px 50px 50px;
  }
  .message-text {
    color: lightcoral;
    font-size: 1rem;
    font-weight: bold;
  }
  .header-text {
    font-size: 1.5rem;
    color: #b4aff1;
  }
</style>
